*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: neutra;
}

.container{
    width: 85%;
    margin: 0 auto;
}


@font-face {
    font-family: neutra;
    src: url('./fonts/NeutraText-Book.otf');
}